---
const { clientHints } = Astro.locals;
---

<html lang="en" data-theme={clientHints.prefersColorScheme}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro ({clientHints.prefersColorScheme})</h1>
    <style>
      [data-theme="light"] {
        color-scheme: light;
      }
      [data-theme="dark"] {
        color-scheme: dark;
      }
    </style>
  </body>
</html>
